<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Data.SqlClient.SNI" version="5.2.0" targetFramework="net481" />
  <package id="SOAPTools.Core.SOAPRequestBuilder.net462" version="1.0.10" targetFramework="net481" />
  <package id="System.Configuration.ConfigurationManager" version="8.0.0" targetFramework="net481" />
</packages>